*.class

# Package Files #
*.dex
*.war
*.ear
*.apk
bin/
bin
gen/
release/
release
gen
.metadata/
.metadata
.idea/
.idea
*.project
.DS_Store
target/

local.properties

# Gradle #
.gradle/
!+.gradle
!/gradle/
build/

maven-deploy/*